# .gitignore
node_modules
package-lock.json
# ignore stuff in output folder, but don't ignore the actual folder
build/output/*
!build/output/.gitignore

scripts/Smelly Api/vendor/*
!scripts/Smelly Api/vendor/autoload.js
!scripts/Smelly Api/vendor/Smelly API
!scripts/Smelly Api/vendor/Chat Ranks
!scripts/Smelly Api/vendor/Leaderboards
!scripts/Smelly Api/vendor/Anti Cheat
!scripts/Smelly Api/vendor/autoload.js